@for $i from 0 through 35 {
  .mt-#{$i}{
    margin-top: $i*4px;
  }
  .mb-#{$i}{
    margin-bottom: $i*4px;
  }
  .my-#{$i}{
    margin-top: $i*4px;
    margin-bottom: $i*4px;
  }
  .mr-#{$i}{
    margin-right: $i*4px;
  }
  .ml-#{$i}{
    margin-left: $i*4px;
  }
}

@for $i from 0 through 35 {
  .p-#{$i}{
    padding: $i*4px;
  }
  .pt-#{$i}{
    padding-top: $i*4px;
  }
  .pb-#{$i}{
    padding-bottom: $i*4px;
  }
  .py-#{$i}{
    padding-top: $i*4px;
    padding-bottom: $i*4px;
  }
  .pr-#{$i}{
    padding-right: $i*4px;
  }
  .pl-#{$i}{
    padding-left: $i*4px;
  }
  .px-#{$i}{
    padding-right: $i*4px;
    padding-left: $i*4px;
  }
}
.mx-auto{
  margin-right: auto;
  margin-left: auto;
}
.ml-auto{
  display: flex;
  flex-direction: row-reverse;
  // background: #000;
}